// Neat Overrides
///////////////////////////////////////////////////////////////////////////////

$column: 79px;
$gutter: 24px;
$grid-columns: 12;
$max-width: em(1100);

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$small-screen: new-breakpoint(max-width em(540));
$medium-screen: new-breakpoint(max-width em(760));
$large-screen: new-breakpoint(max-width em(1450));
