$center: 0 auto;

body {
  @include linear-gradient(130deg,#2E2F40, #402543);
}

.main {
  @include linear-gradient(90deg,#2E2F40, #402543);
}

section {
  @include linear-gradient(90deg,#2E2F40, #402543);

  &.top {
    background: none;
  }
}

#video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: -100;
  opacity: 0.09;

  @include media ($small-screen) {
    display: none;
  }
}

.inner-content {
  @include outer-container;
  padding-top: 5%;

  &.top-content {
    padding-top: 200px;

    @include media ($small-screen) {
      padding-top: 100px;
    }
  }

  h2 {
    color: #fff;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;

    &.sub-heading {
      font-size: 35px;
    }
  }

  .site-intro {
    @include body-copy;
    font-size: 28px;
  }

  .button {
    @include size (393 auto);
    margin: $center;
    margin-top: 70px;

    &.bottom {
      margin-top: -175px;
    }
  }

  .product-shot {
    @include size (434 auto);
    margin: $center;
    position: relative;
    bottom: 0;
  }

  p {
    @include size (831 auto);
    @include body-copy;
    margin: $center;
    font-size: 18px;
  }

  .rubies {
    @include size(750 auto);
    margin: $center;
  }

  .game-shot {
    @include size (750 auto);
    margin: $center;
    margin-top: 100px;
    margin-bottom: 25px;
  }

  .highscores {
    margin: $center;
  }
}

@include media ($small-screen) {
    .button {
      img {
        width: 77%;
        margin-left: 10px;
      }
    }

    .game-shot {
      display: none;
    }

    .highscores {
      display: none;
    }

    .inner-content {
      h2 {
        padding-top: 45px;
      }
    }

      p {
        width: 300px !important;
      }
    }
