$center: 0 auto;

body {
  background: image-url('site-background.png') no-repeat top left;
  background-size: cover;
}

.inner-content {
  @include outer-container;
  padding-top: 5%;

  h2 {
    color: #fff;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    font-size: 55px;
    margin-bottom: 20px;

    &.sub-heading {
      font-size: 45px;
    }
  }

  .site-intro {
    @include body-copy;
    font-size: 28px;
  }

  .button {
    @include size (393 auto);
    margin: $center;
    margin-top: 70px;

    &.bottom {
      margin-top: -175px;
    }
  }

  .product-shot {
    @include size (434 auto);
    margin: $center;
    position: relative;
    bottom: 0;
  }

  p {
    @include size (831 auto);
    @include body-copy;
    margin: $center;
    font-size: 21px;
  }

  .rubies {
    @include size (777 auto);
    margin: $center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .game-shot {
    @include size (934 auto);
    margin: $center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .highscores {
    margin: $center;
    margin-top: 100px;
  }
}
