/* line 2, /Users/coreyhaggard/rubie/source/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 3, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
body {
  color: #333333;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

/* line 11, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 18, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
h1 {
  font-size: 2.75em;
  font-weight: 300;
  display: block; }

/* line 24, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
h2 {
  font-size: 2em; }
  /* line 26, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
  h2.small {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 1em; }

/* line 34, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
h3 {
  font-size: 1.5em;
  font-family: "Belgrano", serif;
  font-weight: 300;
  line-height: 1.4em; }

/* line 41, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
h4 {
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: .3em .7em;
  margin-bottom: 4em;
  margin-top: 5em;
  font-weight: 800;
  font-size: 0.7em;
  display: inline-block; }

/* line 54, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
h5 {
  font-size: 1.25em; }

/* line 58, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
h6 {
  font-size: 1em; }

/* line 62, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
p {
  margin: 0 0 0.75em; }

/* line 66, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
a {
  color: #319fce;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  /* line 71, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
  a:hover {
    color: #2ea9de; }
  /* line 75, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
  a:active, a:focus {
    color: #2ea9de;
    outline: none; }

/* line 81, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
hr {
  border-bottom: 1px solid #f0f0f0;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 89, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
img {
  margin: 0;
  max-width: 100%; }

/* line 94, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #f0f0f0;
  cursor: help; }

/* line 99, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
address {
  display: block;
  margin: 0 0 0.75em; }

/* line 104, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
hgroup {
  margin-bottom: 0.75em; }

/* line 108, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
del {
  color: #595959; }

/* line 112, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
blockquote {
  border-left: 2px solid #f0f0f0;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

/* line 119, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
cite {
  color: #737373;
  font-style: italic; }
  /* line 123, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
  cite:before {
    content: '\2014 \00A0'; }

/* line 1, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_tables.scss */
th {
  border-bottom: 1px solid #cacaca;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_tables.scss */
td {
  border-bottom: 1px solid #f0f0f0;
  padding: 0.75em 0; }

/* line 20, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_tables.scss */
tr, td, th {
  vertical-align: middle; }

/* line 1, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_lists.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
/* line 19, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_lists.scss */
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  /* line 23, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_lists.scss */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 28, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_lists.scss */
  dl dd {
    margin: 0; }

/* line 1, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_flashes.scss */
.error, #flash_failure {
  background: #fbe3e4;
  color: #96151b;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }
  /* line 8, /Users/coreyhaggard/rubie/source/stylesheets/bitters/mixins/_flash.scss */
  .error a, #flash_failure a {
    color: #6a0f13; }
    /* line 11, /Users/coreyhaggard/rubie/source/stylesheets/bitters/mixins/_flash.scss */
    .error a:hover, #flash_failure a:hover {
      color: #110203; }

/* line 5, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_flashes.scss */
.notice, #flash_notice {
  background: #fff6bf;
  color: #8c7800;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }
  /* line 8, /Users/coreyhaggard/rubie/source/stylesheets/bitters/mixins/_flash.scss */
  .notice a, #flash_notice a {
    color: #594c00; }
    /* line 11, /Users/coreyhaggard/rubie/source/stylesheets/bitters/mixins/_flash.scss */
    .notice a:hover, #flash_notice a:hover {
      color: black; }

/* line 9, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_flashes.scss */
.success, #flash_success {
  background: #e6efc2;
  color: #56651a;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }
  /* line 8, /Users/coreyhaggard/rubie/source/stylesheets/bitters/mixins/_flash.scss */
  .success a, #flash_success a {
    color: #333c10; }
    /* line 11, /Users/coreyhaggard/rubie/source/stylesheets/bitters/mixins/_flash.scss */
    .success a:hover, #flash_success a:hover {
      color: black; }

/* line 3, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
.background {
  background: url("/images/site-background.png") no-repeat top left;
  background-size: cover; }
  /* line 7, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
  .background .inner {
    *zoom: 1;
    max-width: 87.5em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%; }
    /* line 18, /Users/coreyhaggard/rubie/source/stylesheets/bourbon/addons/_clearfix.scss */
    .background .inner:before, .background .inner:after {
      content: " ";
      display: table; }
    /* line 23, /Users/coreyhaggard/rubie/source/stylesheets/bourbon/addons/_clearfix.scss */
    .background .inner:after {
      clear: both; }
    @media screen and (max-width: 90.625em) {
      /* line 7, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
      .background .inner {
        padding-top: 55px;
        width: 100%; } }
    /* line 16, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
    .background .inner .wrapper {
      width: 470px;
      height: auto;
      margin: 0 auto;
      text-align: center; }
      @media screen and (max-width: 33.75em) {
        /* line 16, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
        .background .inner .wrapper {
          width: 200px;
          height: auto; } }
    /* line 26, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
    .background .inner h2 {
      font-family: 'Varela Round', sans-serif;
      font-size: 45px;
      color: white;
      padding-bottom: 10px; }
      @media screen and (max-width: 33.75em) {
        /* line 26, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
        .background .inner h2 {
          font-size: 30px; } }
    /* line 37, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
    .background .inner p {
      font-family: 'Open Sans', sans-serif;
      font-size: 22px;
      color: #DE94C1; }
      @media screen and (max-width: 33.75em) {
        /* line 37, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
        .background .inner p {
          font-size: 17px; } }
    /* line 47, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
    .background .inner .button {
      margin: 60px 0; }
      @media screen and (max-width: 33.75em) {
        /* line 47, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
        .background .inner .button {
          width: 100%;
          margin: 0 auto;
          margin-top: 20px; } }
    /* line 57, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
    .background .inner .product {
      position: absolute;
      bottom: 0;
      padding-left: 20px; }
      /* line 62, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
      .background .inner .product img {
        position: relative;
        bottom: -6px;
        width: 100%; }
        @media screen and (max-width: 90.625em) {
          /* line 62, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
          .background .inner .product img {
            max-width: 80%; } }
        @media screen and (max-width: 33.75em) {
          /* line 62, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
          .background .inner .product img {
            margin-left: -75px; } }
