/* line 2, /Users/coreyhaggard/rubie/source/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 3, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
body {
  color: #333333;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

/* line 11, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 18, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
h1 {
  font-size: 2.75em;
  font-weight: 300;
  display: block; }

/* line 24, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
h2 {
  font-size: 2em; }
  /* line 26, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
  h2.small {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 1em; }

/* line 34, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
h3 {
  font-size: 1.5em;
  font-family: "Belgrano", serif;
  font-weight: 300;
  line-height: 1.4em; }

/* line 41, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
h4 {
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: .3em .7em;
  margin-bottom: 4em;
  margin-top: 5em;
  font-weight: 800;
  font-size: 0.7em;
  display: inline-block; }

/* line 54, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
h5 {
  font-size: 1.25em; }

/* line 58, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
h6 {
  font-size: 1em; }

/* line 62, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
p {
  margin: 0 0 0.75em; }

/* line 66, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
a {
  color: #319fce;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  /* line 71, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
  a:hover {
    color: #2ea9de; }
  /* line 75, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
  a:active, a:focus {
    color: #2ea9de;
    outline: none; }

/* line 81, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
hr {
  border-bottom: 1px solid #f0f0f0;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 89, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
img {
  margin: 0;
  max-width: 100%; }

/* line 94, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #f0f0f0;
  cursor: help; }

/* line 99, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
address {
  display: block;
  margin: 0 0 0.75em; }

/* line 104, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
hgroup {
  margin-bottom: 0.75em; }

/* line 108, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
del {
  color: #595959; }

/* line 112, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
blockquote {
  border-left: 2px solid #f0f0f0;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

/* line 119, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
cite {
  color: #737373;
  font-style: italic; }
  /* line 123, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_typography.scss */
  cite:before {
    content: '\2014 \00A0'; }

/* line 1, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_tables.scss */
th {
  border-bottom: 1px solid #cacaca;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_tables.scss */
td {
  border-bottom: 1px solid #f0f0f0;
  padding: 0.75em 0; }

/* line 20, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_tables.scss */
tr, td, th {
  vertical-align: middle; }

/* line 1, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_lists.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
/* line 19, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_lists.scss */
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  /* line 23, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_lists.scss */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 28, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_lists.scss */
  dl dd {
    margin: 0; }

/* line 1, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_flashes.scss */
.error, #flash_failure {
  background: #fbe3e4;
  color: #96151b;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }
  /* line 8, /Users/coreyhaggard/rubie/source/stylesheets/bitters/mixins/_flash.scss */
  .error a, #flash_failure a {
    color: #6a0f13; }
    /* line 11, /Users/coreyhaggard/rubie/source/stylesheets/bitters/mixins/_flash.scss */
    .error a:hover, #flash_failure a:hover {
      color: #110203; }

/* line 5, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_flashes.scss */
.notice, #flash_notice {
  background: #fff6bf;
  color: #8c7800;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }
  /* line 8, /Users/coreyhaggard/rubie/source/stylesheets/bitters/mixins/_flash.scss */
  .notice a, #flash_notice a {
    color: #594c00; }
    /* line 11, /Users/coreyhaggard/rubie/source/stylesheets/bitters/mixins/_flash.scss */
    .notice a:hover, #flash_notice a:hover {
      color: black; }

/* line 9, /Users/coreyhaggard/rubie/source/stylesheets/bitters/_flashes.scss */
.success, #flash_success {
  background: #e6efc2;
  color: #56651a;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }
  /* line 8, /Users/coreyhaggard/rubie/source/stylesheets/bitters/mixins/_flash.scss */
  .success a, #flash_success a {
    color: #333c10; }
    /* line 11, /Users/coreyhaggard/rubie/source/stylesheets/bitters/mixins/_flash.scss */
    .success a:hover, #flash_success a:hover {
      color: black; }

/* line 3, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
body {
  background-color: #2e2f40;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e2f40), color-stop(100%, #402543));
  background-image: -webkit-linear-gradient(-400deg, #2e2f40, #402543);
  background-image: linear-gradient(130deg,#2e2f40, #402543); }

/* line 7, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
.main {
  background-color: #2e2f40;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e2f40), color-stop(100%, #402543));
  background-image: -webkit-linear-gradient(-360deg, #2e2f40, #402543);
  background-image: linear-gradient(90deg,#2e2f40, #402543); }

/* line 11, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
section {
  background-color: #2e2f40;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e2f40), color-stop(100%, #402543));
  background-image: -webkit-linear-gradient(-360deg, #2e2f40, #402543);
  background-image: linear-gradient(90deg,#2e2f40, #402543); }
  /* line 14, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
  section.top {
    background: none; }

/* line 19, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
#video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: -100;
  opacity: 0.09; }
  @media screen and (max-width: 33.75em) {
    /* line 19, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
    #video-bg {
      display: none; } }

/* line 35, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
.inner-content {
  *zoom: 1;
  max-width: 68.75em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%; }
  /* line 18, /Users/coreyhaggard/rubie/source/stylesheets/bourbon/addons/_clearfix.scss */
  .inner-content:before, .inner-content:after {
    content: " ";
    display: table; }
  /* line 23, /Users/coreyhaggard/rubie/source/stylesheets/bourbon/addons/_clearfix.scss */
  .inner-content:after {
    clear: both; }
  /* line 39, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
  .inner-content.top-content {
    padding-top: 200px; }
    @media screen and (max-width: 33.75em) {
      /* line 39, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
      .inner-content.top-content {
        padding-top: 100px; } }
  /* line 47, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
  .inner-content h2 {
    color: #fff;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px; }
    /* line 54, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
    .inner-content h2.sub-heading {
      font-size: 35px; }
  /* line 59, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
  .inner-content .site-intro {
    color: #DE94C1;
    line-height: 33px;
    text-align: center;
    font-size: 28px; }
  /* line 64, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
  .inner-content .button {
    width: 393px;
    height: auto;
    margin: 0 auto;
    margin-top: 70px; }
    /* line 69, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
    .inner-content .button.bottom {
      margin-top: -175px; }
  /* line 74, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
  .inner-content .product-shot {
    width: 434px;
    height: auto;
    margin: 0 auto;
    position: relative;
    bottom: 0; }
  /* line 81, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
  .inner-content p {
    width: 831px;
    height: auto;
    color: #DE94C1;
    line-height: 33px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px; }
  /* line 88, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
  .inner-content .rubies {
    width: 750px;
    height: auto;
    margin: 0 auto; }
  /* line 93, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
  .inner-content .game-shot {
    width: 750px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 25px; }
  /* line 100, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
  .inner-content .highscores {
    margin: 0 auto; }

@media screen and (max-width: 33.75em) {
  /* line 107, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
  .button img {
    width: 77%;
    margin-left: 10px; }

  /* line 113, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
  .game-shot {
    display: none; }

  /* line 117, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
  .highscores {
    display: none; }

  /* line 122, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
  .inner-content h2 {
    padding-top: 45px; }

  /* line 127, /Users/coreyhaggard/rubie/source/stylesheets/_homepage.scss */
  p {
    width: 300px !important; } }
/* line 1, /Users/coreyhaggard/rubie/source/stylesheets/_scroller.scss */
body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms; }

/* line 9, /Users/coreyhaggard/rubie/source/stylesheets/_scroller.scss */
body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%; }

/* line 17, /Users/coreyhaggard/rubie/source/stylesheets/_scroller.scss */
.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d; }

/* line 26, /Users/coreyhaggard/rubie/source/stylesheets/_scroller.scss */
.onepage-wrapper .section {
  width: 100%;
  height: 100%; }

/* line 31, /Users/coreyhaggard/rubie/source/stylesheets/_scroller.scss */
.onepage-pagination {
  position: absolute;
  right: 60px;
  top: 47%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 33.75em) {
    /* line 31, /Users/coreyhaggard/rubie/source/stylesheets/_scroller.scss */
    .onepage-pagination {
      display: none; } }

/* line 44, /Users/coreyhaggard/rubie/source/stylesheets/_scroller.scss */
.onepage-pagination li {
  padding: 0;
  text-align: center; }

/* line 48, /Users/coreyhaggard/rubie/source/stylesheets/_scroller.scss */
.onepage-pagination li a {
  padding: 10px;
  width: 4px;
  height: 34px;
  display: block; }

/* line 55, /Users/coreyhaggard/rubie/source/stylesheets/_scroller.scss */
.onepage-pagination li a:before {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  border: 2px solid #C5666F;
  border-radius: 60px; }

/* line 64, /Users/coreyhaggard/rubie/source/stylesheets/_scroller.scss */
.onepage-pagination li a.active:before {
  width: 19px;
  height: 19px;
  background: url("/images/active.png") no-repeat 5px 5px;
  border: 2px solid #C5666F; }

/* line 71, /Users/coreyhaggard/rubie/source/stylesheets/_scroller.scss */
.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto; }

/* line 75, /Users/coreyhaggard/rubie/source/stylesheets/_scroller.scss */
.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important; }

/* line 80, /Users/coreyhaggard/rubie/source/stylesheets/_scroller.scss */
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%; }

/* line 89, /Users/coreyhaggard/rubie/source/stylesheets/_scroller.scss */
.disabled-onepage-scroll .onepage-pagination {
  display: none; }

/* line 93, /Users/coreyhaggard/rubie/source/stylesheets/_scroller.scss */
body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit; }
