.background
  %section.inner
    .wrapper
      %h2
        Meet Rubie
      %p
        a fun addictive game of connections
      .button
        =image_tag 'coming-soon.png'
      .product
        =image_tag 'iphone.png'
