.main
  %section.top
    %video#video-bg{:autoplay => "", :loop => "", :muted => "", :poster => "vid-first-frame.jpg"}
      %source{:src => "video.webm", :type => "video/webm"}
        %source{:src => "video.mp4", :type => "video/mp4"}
    .inner-content
      %h2
        Meet Rubie
      .site-intro
        A fun addictive game of connections
      .button
        =image_tag 'coming-soon.png'
  / %section
  /   .inner-content
  /     %h2.sub-heading
  /       Get addicted to connecting
  /     %p
  /       Connect alike colored Rubies that are next to each other horizontally, vertically or diagnoally. Stratcially play the game to collect as many points as you can.
  /     .rubies
  /       =image_tag 'jewels.png'
  /     .button
  /       =image_tag 'coming-soon.png'
  %section
    .inner-content
      %h2.sub-heading
        Rack up those points
      %p
        The object of the game is to collect as many Rubies as you can which turn to points. Connect 7 or more Rubies of the same color and clear the entire board of that color, and get the points too!
      .game-shot
        =image_tag 'iphone-game.png'
  %section
    .inner-content
      %h2.sub-heading
        Worldwide Leaderboard
      %p
        See who has the best Rubie chops. Your high scores are shared all over the world with other Rubie players. Compete to beat their scores and earn your Rubie bragging rights.
      .highscores
        =image_tag 'highscores.png'
